/buoi3/nbproject/private/
/buoi3/build/
/Lesson1/nbproject/private/
/Lesson1/build/
/Lesson3/nbproject/private/
/Lesson3/build/
/Lesson4/nbproject/private/
/Lesson4/build/
/Ls5/nbproject/private/
/Lesson6/nbproject/private/
/Lesson6/build/
/LS8/nbproject/private/
/LS8/build/
/test/nbproject/private/
/AES/nbproject/private/
/AES/build/
/AES/dist/
/JavaApplication13/nbproject/private/
/testclient/nbproject/private/
/testclient/build/